* {
	   padding: 0;
	    margin: 0;
}

h1  {
      text-align: center;
      padding: 20px 0 20px 0
      margin-top: 20px;
}

.link{
  text-align: center;
}

article {
          padding: 10px 200px 0 200px;
}

h2  {
      padding: 5px 0 10px 10px;
      border-top: solid 5px;
}

p.experience {
              font-size: 18px;
              padding-left: 5px;
}

h3  {
      padding: 20px 0 10px 0;
}

img {
      width: 500px;
      heigt: 300px;
      padding: 20px 20px 20px 20px;
}

.match  {
          padding: 0 15px 30px 0;
}

ul{
    margin-bottom: 30px;
}
