/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 960px;
  margin: auto;

}

body {
      font: open sans;
}

header {
        height: 60px;
        background-color: #033048;

}

h1  {
      font-size: 28px;
      font-weight: bold;
      color: white;
      float: left;
      padding: 10px 0 10px 50px;
}

img{
    width: 100%;
}


/*.nav-item {

        font-size: 15px;
        display: inline-block;
        width: 60px;
        height: 40px;
        float: right;
}*/

.nav-item a {
  color: yellow;
  text-decoration: none;
}

.nav-item {

        font-size: 18px;
        display: inline-block;
        float: right;
        padding-right: 50px;
        padding-top: 20px;

}

section{
      float: left;
      width: 70%;
}

.bigsection a {
    float: right;
    font-size: 24px;
    font-style: semi-bold;
    text-decoration: none;
    color: #033048;
    /*padding-bottom: 30px;*/
}


.bigsection {
        /*width: 70%;
        float:left;*/
        /*padding: 20px 250px 80px 0;*/
        /*margin-bottom: 60px*/
        padding-top: 50px;
        width: 100%;
        /*margin-right: 250px;*/
        padding-bottom: 50px;
}

hr  {
    background-color: #033048;
    height: 1px;
    border: none;
}

#secondHr {
  margin-bottom: 100px;
}

/*section{
      padding-bottom: 100px;
}*/

.h2 {
    font-size: 40px;
    font-weight: semi-bold;
    color: #033048;
}

.muchtext {
  font-size: 24px;
  font-weight: lighter;
  text-align:justify;
  /*padding-bottom: 50px;*/
}

a {
    color: #033048:
}


aside {
      width: 30%;
      /*height: 400px;*/
      float: left;
      padding-left: 25px;
      /*padding-top: 50px;*/
      color: #033048;
}

.topaside {

      margin-top: -175px;
}

.h3 {
      font-size: 32px;
      font-weight: extra-bold;
      padding-bottom: 15px;
}

.category a {
        text-decoration: none;
        font-weight: lighter;
        font-size: 24px;
        color: black;
}

.midaside {
    padding-top: 50px;
    padding-right: 55px;
}

.bottomaside{
      padding-top: 40px;
}

.learn  {
      text-decoration: none;
      font-weight: semi-bold;
      font-size: 22px;
      color:inherit;
}

.yellow {
      height: 50px;
      background-color: yellow;

}

.black  {
    height: 150px;
    background-color: black;
}

.footer {
        width: 12px;
        height:20px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
}

.footerimage{
        display: inline-block;
}

button  {
      background-color: #033048;
      color: white;
      height: 25px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 5px;
      border-color: #030488;

}

  .button {
    text-decoration: none;
    color: white;
    font-style: bold;
    display: block;
    width: 125px;
    height: 30px;

  }


.footerheading  {
          color: yellow;
          text-align: center;
          font-size: 22px;
          padding-top: 30px;
          padding-bottom: 25px;
}

.footerdiv  {
      text-align: center;
}

#twitter  {
        margin-right: 10px;
}

#fb {
        margin-left: 10px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
